# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and data
data/cache/
.env

# Environments
.venv/
env/
venv/
ENV/

# IDE files
.idea/
.vscode/

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj
